.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #0d6efd;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a.active {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}
