.navbar {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #0d6efd;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.app-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  white-space: nowrap;
}

.navbar-right a {
  margin-left: 24px;
  color: white;
  text-decoration: none;
  font-size: 14.5px;
  font-weight: 500;
}

.navbar-right a.active {
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}
